* {
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
}

body {
	color: #FEFEFE;
	background: #243665;
	text-align: center;
}

#title {
	font-family: Georgia;
	font-weight: bold;
	font-size: 400%;
	padding: 5% 2% 0% 2%;
	background: #8BD8BD;
	color: #243665;
}

#nav-bar {
	background: #8BD8BD;
	padding: 2%;
}

#nav-bar a {
	padding-left: 2%;
}

a {
	color: #FEFEFE;
	text-decoration: none;
}

a:visited {
	color: #EFEFEF;
}

a:hover {
	color: #243665;
}

#grid {
	margin: 3%;
	display: grid;
	grid-gap: 2%;
	grid-template-columns: auto auto auto;
	justify-items: center;
	align-items: center;
}

.art img {
	max-width: 95%;
}

.art img:hover {
	max-width: 100%;
	-moz-box-shadow: 0 0 10px #FEFEFE;
	-webkit-box-shadow: 0 0 10px #FEFEFE;
	box-shadow: 0 0 10px #FEFEFE;
    }

#content {
	margin: 5% 0% 0% 5%;
	text-align: left;
}

#content p {
	margin-bottom: 2%;
}

button {
	padding: .3%;
	background: #8BD8BD;
	color: #FEFEFE;
	border: none;
	cursor: pointer;
}

#one-item-content{
	margin:2%;
}

#art-info {
	text-align: left;
	margin: 5% 5% 5% 5%;
}

.body-a{
	text-align: right;
	text-decoration: underline;
}

.body-a a:hover{
	color: #8BD8BD;
}

.art-title {
	font-size: 150%;
}

.art-date {
	margin-bottom: 2%;
}

.art-desc {
	margin: 2%;
}

.large-art {
	text-align: center;
}

.large-art img {
	max-height: 35em;
	width: auto;
}